@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css */
.gradient-text {
  background-image: linear-gradient(to bottom, #FF1CF7, #b249f8); /* Replace with desired purple shades */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Ensures the text fill is transparent for the gradient */
  background-clip: text; /* Fallback for other browsers */
}


body {
  @apply font-sans;
  color: var(--foreground);
  background: var(--background);
 

}
